<%- include("../partials/header") %> 

<div class="container">

    <% if(data && playersList){ %>

        <br><h2> <%= data.meta.series.name %> </h2><hr><br>

        <div class="row">

            <!-- List of team-1 players -->
            <div class="col-md-4 offset-md-2 col-sm-10 offset-sm-2">
                
                <h3> <%= playersList.playersInMatch.homeTeam.teamShortName %> </h3>
                <img class="p-3" src="<%= playersList.playersInMatch.homeTeam.team.logoUrl %>" alt="teamlogo">
                <h4>List of Players</h4>
                <% playersList.playersInMatch.homeTeam.players.forEach(player => { %>
                    <p> <%= player.fullName %> </p>
                    <div id="player-details">

                        <img src="<%= player.imageURL %> " alt="playerimage">

                    </div>
                <% }) %> 

            </div>

            <!-- List of team-2 players -->
            <div class="col-md-4 offset-md-2 col-sm-10 offset-sm-2 ml-0">
            
                <h3> <%= playersList.playersInMatch.awayTeam.teamShortName %> </h3>
                <img class="p-3" src="<%= playersList.playersInMatch.awayTeam.team.logoUrl %>" alt="teamlogo">
                <h4>List of Players</h4>
                <% playersList.playersInMatch.awayTeam.players.forEach(player=> { %>
                    <p> <%= player.fullName %> </p>
                    <div id="player-details">
                    
                        <img src="<%= player.imageURL %> " alt="playerimage">
                    
                    </div>
                <% }) %>
            
            </div>
            
        </div><br>

        <h2>Innings wise analysis</h2><hr>
        <div class="row d-flex justify-content-evenly details">
            <% inningsId = data.fullScorecard.innings.length %> 

            <% if(data.fullScorecard.innings.length === 1){ %>
                <% prefix=[ 'st' ] %>
            <% } else if(data.fullScorecard.innings.length === 2){ %>
                <% prefix=[ 'nd' , 'st' ] %>
            <% } else if(data.fullScorecard.innings.length === 3){ %>
                <% prefix=[ 'rd' , 'nd' , 'st' ] %>
            <% } else { %>
                <% prefix=['th', 'rd' , 'nd' , 'st' ] %>
            <% } %> 

            <% data.fullScorecard.innings.forEach((match, index) => { %>

                <div class="col-md-2 col-sm-4 offset-sm-2 mx-5">
                    <h3> 
                        <%= (inningsId - index) + prefix[index] %> innings (<%= data.fullScorecard.innings[index].team.shortName %>) 
                    </h3>
                    <p><b>Runs: </b> <%= match.run %> </p>
                    <p><b>Overs: </b> <%= match.over %> </p>
                    <p><b>Wickets: </b> <%= match.wicket %>  </p>
                    <p><b>Runrate: </b> <%= match.runRate %>  </p>
                </div>

            <% }) %> 
            
        </div><br>

    <% } else { %>

        <h1>Something went wrong!!</h1>

    <% } %> 

</div>

<%- include("../partials/footer") %>
