<%- include("../partials/header") %> 

<div class="container">
    <% if(data.status === 200 && playersList.status === 200 && liveData.status === 200){ %>
        <h2> <%= data.meta.series.name %> </h2><br>

        <!-- List of players -->
        <%- include("./listofplayers") %> 

        <!-- Brief decription on current innings and completed innings -->
        <%- include("./innings") %> 

        <!-- Complete data of current innings -->
        <%- include("./completedata") %> 
        
    <% } else { %>
        <h2>Currently the data is unavailable!!</h2>
    <% } %> 
</div>

<%- include("../partials/footer") %>
